# ==============================
# Database (PostgreSQL)
# ==============================
DB_HOST=postgres_db
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

# App
PORT=3000

# APIs
AZURE_DOC_KEY=your_azure_doc_key
AZURE_DOC_ENDPOINT=https://your-doc-resource.cognitiveservices.azure.com/
AZURE_FACE_KEY=your_azure_face_key
AZURE_FACE_ENDPOINT=https://your-face-resource.cognitiveservices.azure.com/
